@import '../../../index.scss';

.label {
  display: block;
  color: var(--theme-text-black);
  padding-bottom: 0.25rem;
}

.find_button {
  @include blue-button;
  width: 100%;
  margin-top: 0.25rem;
  padding: 0.5rem;
}
