@import '../../index.scss';

.combo-style {
  width: 3.5rem;
  border: 1px solid var(--theme-blue-400);
  border-radius: 4px;
  padding: 4px;
  outline: none;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.button-style {
  @include blue-button;
  margin-top: 2px;
  height: 28px;
}

.testinput {
  &:focus,
  &:active {
    color: red;
    background-color: blue;
  }
}

.basic-single{
  color: red;
  border: none;
}