@import '../../config/variables';

.header {
  background-color: white;
  border-bottom: 1px solid rgba($color: $color-blue, $alpha: 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  z-index: 1000;
}

.header__container {
  position: relative;
  height: 100%;
}

.header__left {
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  display: flex;
}

.header__center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header__right {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  display: flex;
}

.logo {
  height: $header-height;
}
