@import '../../config/variables';

.button_container {
  position: relative;
  background-color: white;

  :hover {
    color: $color-darkblue;
    cursor: pointer;
  }
}

.button_to_front {
  z-index: 1002;
}

.button {
  color: $color-darkblue3;
  height: 48px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  border: none;
}

.icon {
  height: 100%;
  width: 28px;
  flex: 1;
}

.text {
  font-size: $font-size-level3;
  padding-left: 4px;
  margin-left: 8px;
}