.header,
.header__relative {
  background-color: white;
  border-bottom: 1px solid rgba($color: rgb(66, 66, 255), $alpha: 0.5);
  position: relative;
  // display: flex;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__menu {
  z-index: 1;
  width: 100%;
}
.header_fixed {
  // top: 0;
  position: fixed;
}

.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: var(--header-height);
}

.header__left {
  left: 10px;
  top: 50%;
  display: flex;
}

.header__center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header__right {
  display: flex;
}

.logo {
  height: var(--header-height);
}
