.container {
  color: var(--theme-text-black);
  background-color: var(--theme-bg-white);
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 2px 4px rgba(var(--theme-rgb-black), 0.1);
  .center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
