@import '../../../config/variables';

.container {
  background-color: white;
  width: 100%;
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}