.search_wrapper {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 1px 2px 4px rgba(var(--theme-rgb-black), 0.1);
  padding: 5px 10px;
  color: var(--theme-text-black);
  background-color: white;

  .date_picker,
  .select,
  .text,
  .submit_button {
    margin: 3px 6px 3px 0;
  }

  .select {
    min-width: 100px;
  }

  .text {    
    width: 150px;
  }

  .submit_button {
    height: 57px;
  }
}
