@import '../../../config/variables';

.search_wrapper {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 1px 2px 4px rgba($color: $color-blue, $alpha: 0.3);
  padding: 5px 10px;
  background-color: white;

  .date_picker,
  .select,
  .text,
  .submit_button {
    margin: 3px 6px 3px 0;
  }

  .select {
    min-width: 100px;
  }

  .text {
    width: 150px;
  }

  .submit_button {
    height: 57px;
  }
}