.items-count {
  position: absolute;
  top: 4px;
  left: 20px;
  min-width: 25px;
  padding: 2px 5px;
  border-radius: 50px;
  background-color: rgba(rgb(245, 55, 96), 0.9);
  color: white;
  &:hover {
    color: white;
  }
}

.animate {
  animation: pop 0.1s ease-in-out forwards;
}

@keyframes pop {
  0% {
    transform: translatY(-50%);
  }

  50% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(0%);
  }
}
