$color-blue: var(--color-blue-500);

.orders-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.order-text {
  display: flex;
}

.order-text__label {
  width: 80px;
}