$light-blue: var(--color-blue-200);

.wrapper {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-blue-300);
  border-radius: 4px;
  color: var(--color-blue-600);
  overflow: none;

  .icon_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon {
    margin: 4px 8px;
    flex-grow: 1;
  }

  input {
    border: none;
    background-color: transparent;
    height: 100%;
    outline-style: none;
    color: var(--color-blue-600);
    font: inherit;
  }

  &:hover {
    background-color: rgba($color: rgb(83, 83, 252), $alpha: 0.5);
  }
}
