@import '../../../../config/variables';

.count-input {
  margin-left: 20px;
  width: 30px;
  text-align: center;
  outline: none;
  border: 1px solid var(--color-blue-500);
  border-radius: 4px;
  &:hover,
  &:focus {
    border: 2px solid var(--color-blue-500);
  }
}

.count-button {
  @include blue-button;
  margin-left: 3px;
  width: 30px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  display: none;
}
