.footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  color: black;
  text-align: left;
}

.footer__wrapper {
  margin: 0 auto;
  padding: 20px;
  border-top: 1px solid var(--color-blue-200);
}

.cart-view {
  padding-bottom: calc(var(--cart-view-height) + 20px);
}

.company {
  display: flex;
  flex-direction: column;
  color: var(--color-gray-500);
  font-size: var(--fs-xs);
  text-align: center;
  width: 100%;
}

.corporate {
  color: var(--theme-text-black);
  font-size: var(--fs-base);
  padding-bottom: 6px;
}

.vertical {
  display: inline-block;
  width: 1px;
  background-color: var(--color-gray-500);
  height: 10px;
  margin: 0 10px;
}

.copyright {
  color: var(--theme-text-black);
  font-size: var(--fs-xs);
}
