@import '../../../config/variables';

.footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  // background-color: $color-lightskyblue;
  // padding: 20px;
  color: black;
  text-align: left;
}

.footer__wrapper {  
  margin: 0 auto;
  padding: 20px;
  border-top: 1px solid $color-lightskyblue;  
}

.cart-view {
  padding-bottom: calc(#{$cart-view-height} + 20px);
}

.company {
  display: flex;
  flex-direction: column;
  color: $color-gray;
  font-size: $font-size-level2;
  text-align: center;
  width: 100%;
}

.corporate {
  color: black;
  font-size: $font-size-level3;
  padding-bottom: 6px;
}

.vertical {
  display: inline-block;
  width: 1px;
  background-color: $color-gray;
  height: 10px;
  margin: 0 10px;
}

.copyright {
  color: black;
  font-size: $font-size-level2;
}