.container {
  width: 15rem;
  height: 100%;
  background-color: var(--theme-bg-white);
  border-right: 1px solid var(--theme-bd-white);
  padding: 0.5rem 1rem 0 1rem;  
}

.link_main {
  height: var(--header-height);
}
