@import '../../../index.scss';

.item {
  color: var(--theme-text-black);
  width: 95%;
  padding: 10px 0;
}

.title {
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px 0;
  font-size: var(--fs-xl);
  .fit {
    @include fit-mark;
  }
}

.detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail__left {
  color: var(--color-gray-500);
}

.detail__right {
  font-size: var(--fs-xl);
  font-weight: bold;
}
