.drawer {
  position: fixed;

  // width: auto;

  z-index: 1002;
  width: fit-content;
  // background-color: white;
  overflow: hidden;

  &.left {
    top: 0;
    left: 0;
    height: 100%;
  }

  &.right {
    top: 0;
    right: 0;
    height: 100%;
  }

  &.bottom {
    left: 0;
    bottom: 0;
    width: 100%;
  }

  &.top {
    top: 0;
    left: 0;
    width: 100%;
  }

  &.open_width {
    animation: open_width 0.3s ease-in forwards;
  }

  &.close_width {
    animation: close_width 0.3s ease forwards;
  }

  &.open_height {
    animation: open_height 0.3s ease-in forwards;
  }

  &.close_height {
    animation: close_height 0.3s ease forwards;
  }
}

@keyframes open_width {
  from {
    max-width: 0;
  }

  to {
    max-width: 90%;
  }
}

@keyframes close_width {
  from {
    max-width: 90%;
  }

  to {
    max-width: 0;
  }
}

@keyframes open_height {
  from {
    max-height: 0;
  }

  to {
    max-height: 90%;
  }
}

@keyframes close_height {
  from {
    max-height: 90%;
  }

  to {
    max-height: 0;
  }
}
