@import '../../config/variables';

.cart-item {
  display: flex;
}

.cart-item__icon {
  width: 30px;
  height: 30px;
  margin: 10px;
}

.cart-item {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.cart-item__head,
.cart-item__body {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 10px 0;
  justify-content: space-between;
}

.cart-item__body__left {
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .cart-item__head,
  .cart-item__body {
    flex: 1;
    display: flex;
    align-items: center;
  }
}

.cart-item__head {
  border-bottom: 1px solid $color-lightskyblue;
}

.detail__head__product {
  display: flex;
  flex-direction: column;
}

.detail__head__product__info {
  display: flex;
}

.product-name {
  font-weight: bold;
  font-size: $font-size-level4;
}

.product-info {
  @include fit-mark;
  margin: 4px 4px 0 0;
}

.unit-style {
  @include box-mark;
  margin: 4px 4px 0 0;
}

.cart-item__body__price {
  color: $color-gray;
  margin-right: 4px;
}

.cart-item__body__combo {
  width: 50px;
  border: 1px solid $color-lightblue;
  border-radius: 4px;
  padding: 4px;
  outline: none;
}

.first-column {
  text-align: center;
}

.last-column {
  text-align: center;
}

.cancel-button {
  @include custom-button(
    $backgroundColor: $color-lightred,
    $activeBackgroundColor: $color-red
  );
  padding: 4px;
}
