@import '../../index.scss';

:root {
  --theme-bd-bt-cart-view-item: var(--color-blue-200);
}

:root[color-theme='dark'] {
  --theme-bd-bt-cart-view-item: rgb(101, 99, 112);
}

.cart_item {
  display: flex;
}

.cart_item__icon {
  width: 30px;
  height: 30px;
  margin: 10px;
}

.cart_item {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.cart_item__head,
.cart_item__body {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 10px 0;
  justify-content: space-between;
}

.cart_item__body__left {
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .cart_item__head,
  .cart_item__body {
    flex: 1;
    display: flex;
    align-items: center;
  }
}

.cart_item__head {
  border-bottom: 1px solid var(--theme-bd-bt-cart-view-item);
}

.detail__head__product {
  display: flex;
  flex-direction: column;
}

.detail__head__product__info {
  display: flex;
}

.product_name {
  color: var(--theme-text-black);
  font-weight: bold;
  font-size: var(--fs-xl);
}

.product_info {
  @include fit-mark;
  margin: 4px 4px 0 0;
}

.unit_style {
  @include box-mark;
  margin: 4px 4px 0 0;
}

.cart_item__body__price {
  color: var(--theme-text-gray);
  margin-right: 4px;
}

.cart_item__body__combo {
  width: 50px;
  border: 1px solid var(--theme-blue-400);
  border-radius: 4px;
  padding: 4px;
  outline: none;
}

.first_column {
  text-align: center;
}

.last_column {
  color: var(--theme-text-black);
  text-align: center;
}

.cancel_button {
  @include red-button;
  padding: 4px;
}
