@import '../../../index.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 4px rgba(var(--theme-rgb-black), 0.2);
  padding: 1rem;
  border-radius: 0.25rem;
}

.email {
  color: var(--theme-text-rose-500);
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.description {
  color: var(--theme-text-black);
  font-size: 1rem;
}

.to_login {
  @include blue-button;
  text-decoration: none;
  margin-top: 1rem;
  padding: 0.5rem 2rem;
}
