$header-color: rgb(2, 127, 168);
$back-color: rgb(240, 248, 253);
$label-color: rgb(197, 229, 248);
$color-rose: var(--theme-text-rose-500);

.list_item {
  display: grid;
  width: 100%;
  margin: 10px 0;
  grid-template-columns: repeat(1, 1fr);
  background-color: $back-color;
  border-radius: 4px;
  box-shadow: 1px 2px 4px rgba(black, 0.1);
  overflow: hidden;
}

.header {
  grid-column: 1 / 2;
  background-color: $header-color;

  .web_mark {
    border: 3px solid var(--color-lime-500);
    color: var(--color-lime-500);
    padding: 0 4px;
    margin-left: 4px;
    border-radius: 4px;
    text-transform: uppercase;
  }
}

.header_group {
  display: flex;
  justify-content: space-between;
  margin: var(--sz-2) 0;
  padding: 0 var(--sz-2);
}

.data_box {
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: repeat(1, minmax(35px, auto));

  // padding: 4px 0;
  // background-color: red;
  .label {
    display: flex;
    align-items: center;
    font-size: var(--fs-xs);
    padding-left: 10px;
    background-color: $label-color;
  }

  .text,
  .complete_text {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: var(--color-blue-800);
    padding-left: 10px;
  }

  .complete_text {
    color: $color-rose;
    background-color: rgba(black, 0.1);
  }

  &.grid_header {
    display: flex;
    color: white;

    .label {
      padding: 0px;
      background-color: transparent;
    }

    .text {
      padding-right: 0px;
      color: white;
    }
  }
}

$min-widths: (
  380px: 2,
  768px: 3,
  1000px: 4,
  1150px: 5,
  1300px: 6,
  1450px: 7,
);

@each $width, $columnCount in $min-widths {
  @media (min-width: $width) {
    .list_item {
      grid-template-columns: repeat($columnCount, 1fr);
    }

    .header {
      grid-column: 1 / #{$columnCount + 1};
    }
  }
}
