:root {
  --theme-bg-cart-view-th: var(--color-blue-200);
  --theme-bd-cart-view-tr: var(--color-blue-400);
}

:root[color-theme='dark'] {
  --theme-bg-cart-view-th: rgb(44, 42, 56);
  --theme-bd-cart-view-tr: rgb(133, 130, 146);
}

.caption {
  color: var(--theme-text-black);
  padding-bottom: 20px;
  font-size: var(--fs-2xl);
}

.container {
  display: flex;
  justify-content: center;
  // max-width: 80rem;
  table {
    max-width: 60rem;
    width: 100%;
    border-collapse: collapse;
    margin: 20px;
  }

  th {
    border-top: 1px solid var(--theme-blue-400);
    border-bottom: 1px solid var(--theme-blue-400);
    margin: 0;
    padding: 10px 0;
    color: var(--theme-text-black);
    background-color: var(--theme-bg-cart-view-th);
  }

  tr {
    border-bottom: 1px solid var(--theme-bd-cart-view-tr);
  }
}

.first_column_header {
  span {
    position: absolute;
  }
}

.first_column {
  text-align: center;
}

.last-column {
  text-align: center;
}
