@import '../../config/variables';

.error-wrapper {
  display: flex;
  align-items: center;
  color: $color-darkred;
  padding: 5px;  
  border: 1px solid $color-darkred;
  background-color: rgb(252, 237, 237);
  border-radius: 4px;  
}