@import '../../config/variables';

.container {
  height: 100%;

  & > .header,
  & > .list {
    padding: 10px 20px;
  }

  .header {
    background-color: $color-darkblue;
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
  }

  .header__left {
    display: flex;
    flex-direction: column;
  }

  .header__left__title {
    font-size: $font-size-level4;
    margin-bottom: 4px;
  }

  .header__left__sub {
    font-size: $font-size-level2;
  }
}

.shop-button {
  @include white-button;
  .shop-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: 3px;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;

  li > a {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
   
    text-decoration: none;
    .icon {
      width: 30px;
      height: 30px;
      color: $color-blue;
      margin-right: 10px;
    }
    span {
      color: $color-darkblue3;
    }
  }

  li:hover,
  li:active {
    background-color: $color-lightskyblue;
    border-radius: 14px;
  }
}
