@import '../../config/variables';

.container {
  height: 100%;

  &>.header,
  &>.list {
    padding: 10px 20px;
  }

  .header {
    background-color: $color-darkblue;
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
  }

  .header__left {
    display: flex;
    flex-direction: column;
  }

  .header__left__title {
    font-size: $font-size-level4;
    margin-bottom: 4px;
  }

  .header__left__sub {
    font-size: $font-size-level2;
  }
}

.shop-button {
  @include white-button;

  .shop-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: 3px;
  }
}

.link_ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.link_li {
  .link {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: $color-darkblue3;

    .icon {
      width: 30px;
      height: 30px;
      color: $color-blue;
      margin-right: 10px;
    }
  }

  &:hover,
  &:active {
    background-color: $color-lightskyblue;
    border-radius: 14px;
  }
}

.link_li.admin {
  .link {
    color: $color-lightred;

    .icon {
      color: $color-lightred;
    }
  }

  &:hover,
  &:active {
    background-color: rgba($color: $color-lightred, $alpha: 0.3);
  }
}