@import '../../index.scss';

.container {
  height: 100%;

  & > .header,
  & > .list {
    padding: 10px 20px;
  }

  .header {
    background-color: var(--theme-bg-blue-600);
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
  }

  .header__left {
    display: flex;
    flex-direction: column;
  }

  .header__left__title {
    font-size: var(--fs-xl);
    margin-bottom: 4px;
  }

  .header__left__sub {
    font-size: var(--fs-xs);
  }
}

.shop-button {
  @include white-button-legacy;

  .shop-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: 3px;
  }
}

.link_ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.link_li {
  .link {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: var(--theme-text-blue-900);

    .icon {
      width: 30px;
      height: 30px;
      color: var(--theme-blue-600);
      margin-right: 10px;
    }
  }

  &:hover,
  &:active {
    background-color: var(--theme-bg-blue-200);
    border-radius: 14px;
  }
}

.link_li.admin {
  .link {
    color: var(--theme-text-rose-500);

    .icon {
      color: var(--theme-text-rose-500);
    }
  }

  &:hover,
  &:active {
    background-color: rgba($color: rgb(223, 64, 64), $alpha: 0.3);
  }
}
