.ul {
  position: relative;
  list-style: none;
  padding: 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.li {
  display: flex;
  margin: 2px 0;
}

.li > button {
  padding: 10px;
  width: 100%;
  text-decoration: none;
  color: var(--color-blue-900);
  border-radius: 4px;
  border: none;
  background-color: transparent;
  text-align: left;
  font-size: var(--fs-base);

  &:hover,
  &:active {
    background-color: var(--color-blue-200);
  }
}

@media (min-width: 768px) {
  .ul {
    flex-direction: row;
    justify-content: center;
    padding: 0;
    background-color: var(--color-blue-400);
  }

  .li > button {
    color: white;
    font-weight: bold;
  }
}
