.backdrop {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1001;
  background-color: black;
  animation: ani 0.3s ease-in forwards;
}

@keyframes ani {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}
