.wrapper {
  display: flex;
  height: 100%;
  background-color: var(--color-gray-100);
  .wrapper_left {
    display: none;
    height: 100%;
  }

  .wrapper_center {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    header {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
    }
  }

  // footer {
  //   height: 60px;
  // }
}

.main {
  background-color: var(--theme-bg-primary);
  padding-top: var(--header-height, 0);
  flex-grow: 1;
}

@media (min-width: 768px) {
  .wrapper {
    .wrapper_center {
      header {
        top: 0;
        left: var(--left-menu-width);
        width: calc(100% - var(--left-menu-width));
      }
    }

    // header {
    //   display: none;
    // }

    .wrapper_left_dummy {
      display: block;
      width: var(--left-menu-width);
    }
    .wrapper_left {
      display: block;
      position: fixed;
      top: 0;
    }
  }
}
