:root[color-theme='dark'] {
  --product-item-image-background-color: var(--color-gray-300);
}

.item {
  display: flex;
  flex-direction: column;
  align-items: left;
  list-style: none;
  min-width: 10rem;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(black, 0.1);
  padding: 14px 10px;
  background-color: var(--theme-bg-card);
  margin: 10px;
  min-width: 12rem;
  transition: transform 0.1s;

  &:hover {
    transform: scale(1.05);
  }
}

.item__image {
  flex: 1;
  border-radius: var(--rounded);
  // box-shadow: 1px 2px 4px rgba($color: var(--theme-rgb-black), $alpha: 0.3);
  overflow: hidden;
  object-fit: scale-down;
  min-height: 10rem;
  max-height: 15rem;
  margin-bottom: 1rem;
  padding: 0.25rem;
}

.item__name {
  color: var(--theme-text-blue-900);
  margin-bottom: 10px;
}

.item__unit {
  font-size: var(--fs-xs);
  color: var(--color-gray-500);
}

.cost {
  color: var(--theme-text-rose-500);
  font-weight: bold;
}
