@import '../../index.scss';

.item {
  width: 95%;
  padding: 10px 0;
}

.title {
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px 0;
  font-size: --fs-xl;
  .fit {
    @include fit-mark;
  }
}

.detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail__left {
  color: var(--color-gray-500);
}

.detail__right {
  font-size: --fs-xl;
  font-weight: bold;
}
