@import '../../../index.scss';

$color-gray: var(--color-gray-500);

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: var(--theme-text-black);
}

.separator {
  border-top: 1px solid rgba($color: black, $alpha: 0.1);
}

.name {
  font-size: var(--fs-base);
  padding-bottom: 6px;
  
  span {
    margin-left: 6px;
    font-weight: bold;
    color: var(--theme-text-rose-500);
  }
}

.info {
  display: flex;
  flex-wrap: wrap;
}

.fit {
  @include fit-mark;
  margin: 2px;
}
.box {
  @include box-mark;
  margin: 2px;
  margin-left: 4px;
  min-width: 100px;

  &:hover {
    cursor: pointer;
    background-color: rgb(66, 66, 66);
  }
}
