@import '../../config/variables';

.container {
  display: flex;
  flex-direction: column;
}

.search_wrapper {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin: 10px 10px 0 10px;
  border-radius: 4px;
  box-shadow: 1px 2px 4px rgba($color: #000000, $alpha: 0.1);
  padding: 0 20px;
  background-color: white;

  .select {
    margin-left: 8px;
  }

  .select_wrapper {
    display: flex;
    align-items: center;
    height: 50px;
    margin-right: 4px;
  }

  .submit_button {
    margin: 4px;
  }
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0 10px;
}