@import '../../config/variables';

.card {
  position: relative;
}

.select-mode {
  text-align: center;

  a {
    display: inline-block;
    width: 5rem;
    font-size: $font-size-level2;
    margin-top: 10px;
    padding: 4px;
    color: $color-gray;
    text-decoration: none;
  }
}

.active {
  border-bottom: 2px solid $color-darkblue;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0 1rem 0;

  h2 {
    margin: 0;
    color: $color-blue;
    margin-bottom: 20px;
  }
}

.login_form {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 20rem;
}

.ykiho_form {
  display: flex;
  flex-direction: column;

  button {
    padding: 4px;
  }
}

.login_button {
  margin-top: 10px;
  height: 36px;
  @include blue-button;
}

.password {
  margin-top: 4px !important;
}

.signup {
  font-size: $font-size-level2;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  color: $color-blue;
}