.select {
  color: var(--theme-text-black);
  background-color: transparent;
  border: 1px solid var(--theme-blue-600);
  border-radius: 4px;
  outline: none;

  &:hover {
    border-width: 2px;
  }
}
