.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 12rem;
  height: 100%;
  background-color: var(--color-stone-900);
}

.nav_section {
  height: 100%;
  padding: 10px;

  .nav {
    margin: 4px 0;
  }
}

.bottom_section {
  padding: 10px;
}

.header {
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
  box-shadow: 1px 2px 4px rgba(black, 0.1);

  img {
    width: 2rem;
    margin-right: 10px;
  }

  span {
    color: var(--color-gray-100);
    font-size: large;
    font-family: var(--font-lilitaOne);
  }
}
