@import '../../index.scss';

.payment {
  margin: 10px;
}

.checkout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  padding: 15px 10px;
}

.checkout-button {
  @include blue-button;
  width: 100%;
  height: 38px;
}

.checkout-amount-wrapper {
  margin-bottom: 10px;
}

.checkout-amount {
  font-size: var(--fs-xl);
  font-weight: bold;
  color: var(--color-blue-900);
}
