:root {
  --radius-primary: 4px;
  --cart-view-height: 5rem;
  --header-height: 48px;
}

* {
  box-sizing: border-box;
  font-family: var(--font-notoSansKRRegular);
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

select {
  font: inherit;
}

input {
  font: inherit;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--theme-text-black) !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
  -webkit-text-fill-color: var(--theme-text-black) !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
} */

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #fe4902;
  -webkit-box-shadow: 0 0 0px 40rem #fff inset;
}