@mixin custom-button(
  $color: var(--color-gray-100),
  $backgroundColor: var(--theme-blue-500),
  $activeBackgroundColor: var(--color-blue-600),
  $borderColor: null
) {
  color: $color;
  background-color: $backgroundColor;

  @if $borderColor {
    border: 1px solid $borderColor;
  } @else {
    border: none;
  }

  border-radius: 4px;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: $activeBackgroundColor;
  }

  @include button-disable;
}

@mixin button-disable {
  &:disabled {
    color: white;
    cursor: not-allowed;
    color: lightgray;
  }
}

@mixin blue-button {
  color: white;
  background-color: var(--color-blue-500);
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: var(--color-blue-600);
  }

  @include button-disable;
}

@mixin red-button {
  @include custom-button(
    $color: white,
    $backgroundColor: var(--color-rose-500),
    $activeBackgroundColor: var(--color-red-600)
  );
}

@mixin white-button-legacy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 4rem;
  font-size: var(--fs-sm);
  border-radius: 4px;
  font-weight: bold;
  color: var(--color-blue-800);
  background-color: whitesmoke;
  border: none;

  &:hover {
    cursor: pointer;
    color: var(--color-blue-950);
    background-color: var(--color-gray-100);
  }

  @include button-disable;
}

@mixin icon-button-style {
  .icon_wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    font-size: var(--fs-base);
    .icon {
      width: 30px;
      height: 30px;
      margin-right: 10px;
      color: gray;
    }

    .text {
      color: var(--color-gray-100);
    }

    &:hover {
      cursor: pointer;
      background-color: var(--color-stone-800);
    }

    &.active {
      background-color: var(--color-rose-500);

      .icon {
        color: white;
      }
    }
  }
}
